        .list-item__content,
        img {
            padding: 5px 10px;
        }

        .list .list-item__content h4 {
            margin: 0;
            font-size: 18px;
            margin-top: 15px;
        }

        .list .list-item__content p {
            margin-top: 5px;
            color: #888;            
            margin-bottom: 0;
        }