* {
    padding: 0;
    margin: 0;
}

h2 {
    margin: .5em;
    font-size: 3em;
    text-align: center;
}

form {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1em;
}

form > div {
    display: flex;
    width: 100%;
    justify-content: center;
    column-gap: 1em;
}

button {
    width: 4em;
}

form > div > input {
    width: 7em;
}

fieldset {
    min-width: min-content;
    height: max-content;
    text-align: center;
    padding: 1.5em;
    flex-grow: 1;
    margin: 1em;
}

fieldset div {
    margin-top: 1.5em;
}

progress {
    width: 70%;
    /* margin-bottom: 2em; */
}

fieldset input:not([type="color"], [type="radio"], [type="date"], [type="checkbox"]) {
    padding: .3em;
    width: 70%;
}

#vRango::after { 
    content: '\A';
    white-space: pre;
}

optgroup {
    background-color: #ff0000;
}

option {
    background-color: #ffff;
}

textarea {
    width: 96%;
}

fieldset:focus-within {
    background-color: darkkhaki;
}

input:required:focus:invalid {
    background-color: #ff000099;
}

input:required:valid {
    background: #fff url('assets/icono_ok.gif') right no-repeat;
}