/* RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, input {
    font-family: 'Nunito Sans', sans-serif;
    /* font-family: 'Source Serif 4', sans-serif; */
}

h1 {
    font-family: 'Zen Kurenaido', sans-serif;
    font-size: 1.5rem;

}

/* 60 */

.color-primary-0 { color: #96EF0F }	/* Main Primary color */
.color-primary-1 { color: #BCF466 }
.color-primary-2 { color: #A9F13B }
.color-primary-3 { color: #80D300 }
.color-primary-4 { color: #64A400 }

.color-secondary-1-0 { color: #1092B0 }	/* Main Secondary color (1) */
.color-secondary-1-1 { color: #57B4C9 }
.color-secondary-1-2 { color: #329FB9 }
.color-secondary-1-3 { color: #03748E }
.color-secondary-1-4 { color: #025A6F }

.color-secondary-2-0 { color: #FFDC10 }	/* Main Secondary color (2) */
.color-secondary-2-1 { color: #FFE96A }
.color-secondary-2-2 { color: #FFE33F }
.color-secondary-2-3 { color: #E5C400 }
.color-secondary-2-4 { color: #B39900 }

.color-complement-0 { color: #DD0E70 }	/* Main Complement color */
.color-complement-1 { color: #E861A0 }
.color-complement-2 { color: #E13887 }
.color-complement-3 { color: #BF005A }
.color-complement-4 { color: #950046 }

/* As hex codes 70*/

.color-primary-0 { color: #96EF0F }	/* Main Primary color */
.color-primary-1 { color: #BCF466 }
.color-primary-2 { color: #A9F13B }
.color-primary-3 { color: #80D300 }
.color-primary-4 { color: #64A400 }

.color-secondary-1-0 { color: #1670B5 }	/* Main Secondary color (1) */
.color-secondary-1-1 { color: #5D9CCD }
.color-secondary-1-2 { color: #3884BE }
.color-secondary-1-3 { color: #085793 }
.color-secondary-1-4 { color: #064373 }

.color-secondary-2-0 { color: #FFD010 }	/* Main Secondary color (2) */
.color-secondary-2-1 { color: #FFE26A }
.color-secondary-2-2 { color: #FFD93F }
.color-secondary-2-3 { color: #E5B800 }
.color-secondary-2-4 { color: #B38F00 }

.color-complement-0 { color: #DD0E70 }	/* Main Complement color */
.color-complement-1 { color: #E861A0 }
.color-complement-2 { color: #E13887 }
.color-complement-3 { color: #BF005A }
.color-complement-4 { color: #950046 }
/* #4A4E55 */
/* #31353D */
:root {
    --main-color: #A9F13B;
    --black: #141518;
    --white: #ffe;
    --white2: #F7F7F7;
    --white3: #F0F0F0;
    --gray: rgb(170, 170, 170);
    --blue: #5D9CCD;
    --gris: #4A4E55;
    --gris-oscuro: #31353D;
    --blanco: #fff;
    --azul: #15C1C6;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 3rem;
    /* font-family: 'Source Serif 4', sans-serif;; */
}

h2 {
    font-size: 2rem;
    /* margin: .1em 0 1em; */
    padding: .2em;
    border-top: 2px;
    /* border-bottom: 2px; */
    text-align: center;
    border-style: solid;
    border-color: var(--black);
    background-color: var(--azul);
}

h3 {
    font-size: 1.3rem;
    font-weight: bold;
    margin: .5em .3em;
}

main article img {
    width: 100%;
    /* padding: 1em; */
    /* margin: 1em; */
}

/* SWIPER */
/* html,
body {
  position: relative;
  height: 100%;
} */

/* body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
} */

/* MOBILE */

/* HEADER */

header > div.material-icons {
    display: flex;
    padding: .3em;
    align-items: center;
    justify-content: center;
    background-color: var(--gris);
}

header > div > input {
    flex-grow: 1;
    padding: .5em;
    margin: 0 1.5em;
    border: none;
    background-color: var(--gris);
    color: var(--blanco);
    /* font-size: .7rem; */
    font-weight: bold;
}
header > div > input:focus, header > div > input:active{
    /* border: 0px solid red; */
    /* border-bottom: 10px; */
    /* border-color: var(--azul); */
    /* border-style: solid; */
    /* border: none; */
    outline: none;
    /* border: #fff solid 10px; */
    /* color: var(--blanco); */
}

header > a {
    text-align: center;
    margin: 1em;
}

nav {
    text-align: center;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
}

nav > div {
    font-size: 2em;
}

nav > ul {
    height: 0;
    overflow: hidden;
    /* display: flex; */
    /* list-style: none; */
    /* align-items: center; */
    /* flex-direction: column; */
}

nav:target ul {
    height: min-content;
}

nav > div > a:last-of-type, nav:target > div > a:first-of-type {
    display: none;
}

nav:target > div > a:last-of-type {
    display: inline-block;
}

/* SWIPER */

.swiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .swiper-slide {
    /* text-align: center;
    font-size: 18px;
    background: #fff; */
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
/*   
  .swiper {
  } */


/* MAIN */

p {
    line-height: 1.2rem;
    margin: .5em;
}

section:first-of-type {
    margin-top: .2em;
}

/* FOOTER */

footer {
    background-color: var(--gris-oscuro);
}

footer, footer a {
    color: var(--blanco);
    /* font-size: .8rem; */
}

footer > ul {
    display: flex;
    flex-wrap: wrap;
    /* margin: 1em; */
}
footer > ul li {
    padding: 1em 1em;
}

footer > ul:first-of-type {
    justify-content: space-around;
    /* display: flex; */
}
footer > ul:last-of-type {
    /* font-size: 1rem; */
    justify-content: center;
}
/* footer > ul:last-of-type li { */
    /* margin: 0 .5em; */
    /* justify-content: center; */
/* } */




/* nav {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

/* nav ul { */
    /* display: flex; */
    /* padding: 1em; */
/* } */

/* nav a {
    padding: 2em;
} */

/* ul {
    list-style: none;
} */

/* nav {
    top: 0;
    height: 100%;
    display: flex;
    grid-area: nav;
    position: sticky;
    align-items: center;
    justify-content: space-between;
    background-color: var(--main-color);
    padding: 0 1.5em;
} */

/* TABLET */

@media screen and (min-width: 576px) {
    
}

/* DESKTOP */

@media screen and (min-width: 992px) {
    img {
        height: 32em;
        width: 80% !important;

        /* margin 1em; */
    }
    nav > div {
        display: none;
    }

    nav > ul {
        display: flex;
        height: auto;
        justify-content: center;
    }

    nav a, nav li {
        padding: 1em;
    }
    nav a:hover {
        background-color: #141518;
    }
}


/* ESTILO ANTIGUO */

/* body {
    background-color: var(--white2);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5em 3em 1fr 4em;
    grid-template-areas: 
    "head"
    "nav"
    "main"
    "footer";
} */

/* HEADER */

/* header {
    grid-area: head;
    background-color: var(--white3);
    overflow: hidden;
}

h1 {
    margin: .7em;
}

h2 {
    background-color: var(--blue);
    border-bottom: 1px black solid;
    border-top: 1px black solid;
    text-align: center;
    padding: .5em;
    margin: .5em;
}

h3 {
    margin: 1em;
}

nav {
    top: 0;
    height: 100%;
    display: flex;
    grid-area: nav;
    position: sticky;
    align-items: center;
    justify-content: space-between;
    background-color: var(--main-color);
    padding: 0 1.5em;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul a {
    color: var(--black);
    text-decoration: none;
    padding: 1em;
}

nav ul a:hover {
    color: var(--white); 
    background-color: var(--black);
}

nav > div > label {
    display: inline-block;
    vertical-align: middle;
} 

nav > div > input {
    padding: .2em;
}

nav > div > input::placeholder {
    color: var(--gray);
} 

.perfil {
    background-color: var(--white);
    padding: .4em;
    border-radius: 50px;
} */

/* MAIN */

/* main {
    grid-area: main;
    margin: 1.5em;
}

main article img {
    width: 30vw;
    height: 15vw;
    float: left;
    margin-right: .5em;
} */

/* main section:first-of-type {
    display: flex;
    justify-content: center;
}

main section:first-of-type img {
    width: 65vw;
    height: 35vw;
} */

/* main section:first-of-type a {
    text-decoration: none;
}  */

/* section {
    clear: left;
} */
/*     
main article {
    margin: 1em;
}

main article a {
    color: #000;
    text-decoration: none;
}

main article::after {
    content: "";
    clear: both;
    display: table;
} */

/* FOOTER */

/*  footer {
    background-color: var(--black);
    grid-area: footer;
    text-align: center;
    display: flex;
}

footer ul {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
} */

/* ENLACES */

/* footer a {
    text-decoration: none;
    color: var(--white);
}

footer a:hover {
    position: relative;
    color: var(--gray);
    left: 7%;
} */